*{
    
}
/**
*   TODO: fix the form on the header, change colors
*/


.progress{
    visibility: hidden;
}
#header-title{
    float: left;
    width: auto;
    height: auto;
}

#header-title h3{
    margin: auto auto;
    padding-left: 10px;
}

#header-menu{
    float: right;
    height: 50px;
}


#header-menu-links{
    margin: 0;
    display: flex;
    list-style: none;
    width: 100%; 
    height: 50px;
    
}

#header-menu-links li{
    width: auto;
    height: auto;
    margin-right: 40px;
}


#search-form{
    display: flex;
    padding-top: 15px;
}

#search-form input, #search-form button{

    margin: auto auto;
    margin-left: 15px;
}

#dropdown-button{
    min-width: fit-content;
    text-align: center;
    margin: auto 10px;
}

.dropdown-el{
    min-width: 100%;
    text-align: center;
}
.dropdown-el a{
    text-align: center;
} 

#carousel-container{
    
    min-height: 85vh;
    max-height: 85vh;
    max-width: 100vw;
    min-width: 100vw;
    border: 2px solid black;
}



#artwork-card{
    border-radius: 15px;
    border: solid black 2px;
    z-index: 4;
    position: absolute;
    top: 15%;
    left: 80%;
    filter: drop-shadow(16px 16px 10px black);
    text-align: center;
    max-width: 400px;
     
}

.carousel-slide, #rendered-image{
    height: 85vh;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}


#prev-button{
    z-index: 5;
    position: absolute;
    margin: -20% 10%;
}

#next-button{
    z-index: 5;
    position: absolute;
    align-self: right;
    margin: -20% 88%;
}
#menu{
    float: right;
}
#menu-title{
    text-align: center;
}
footer{
    border: 2px black solid;
    width: 100%;
    text-align: center;
}

#main-footer{
    position: absolute;
    bottom:0;
}

.collapsible-header, #time-tab .collection-item{
    border-bottom: dotted gray 1px;
}

.full-preview {
    height: 100%;
    width: 100%;
}

/* Make the body take up the whole screen on load */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
